@font-face {
  font-family: 'Azo Sans';
  src: url('./assets/azosans/AzoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans';
  src: url('./assets/azosans/AzoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans';
  src: url('./assets/azosans/AzoSans-Thin.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
